/**
 *
 * Theme styles.
 *
 */

/* Fonts */
* {
    font: 16px/26px 'Poppins', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
.h1,
.h2,
.h3,
.site-title a,
.site-content-title,
.site-content-title a {
    color: #000;
    font-weight: bold;
}

p {
    color: #000;
}

a {
    text-decoration: none;
}

/* Site */
.site {
    margin-bottom: 20px;
}

.site-title {
    margin-bottom: 5px;
}

.site-title a,
.site-content-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    font-size: calc(1.375rem + 1.5vw);
}

.site-content-title {
    margin-bottom: 0;
}

.site-header-container {
    margin-bottom: 2rem;
    border-bottom: 3px solid #2C67F6;
}

.site-container-row {
    padding: 10px;
    padding-bottom: 10px;
}

h2.site-content-title a {
  font-size: calc(1.325rem + 0.9vw);
}

/* Menu */
.navbar {
    align-items: start;
}

.nav-link {
    font-weight: 500;
    letter-spacing: 0.30px;
    color: #2C67F6;
}

.nav-link:hover {
    color: #F6932C;
}

h2.site-content-title a:hover {
    color: #2C67F6;
}

.current_page_item .nav-link {
    color: #000;
}

/* Font sizes */
p,
a,
li,
em,
.nav-link,
.form-label {
    font-size: 0.95rem;
}

/* Posts */
article {
    margin-bottom: 1.5rem;
}

.entry-header {
    margin-bottom: 0.5rem;
}

.entry-meta a,
.entry-meta time {
    font-weight: bold;
}

.entry-meta a,
.entry-meta span,
.entry-meta time {
    font-size: 0.9rem;
}

/* Footer */
.site-footer {
    margin-top: 30px;
    padding-bottom: 20px;
}

.site-info {
    padding: 30px;
    text-align: center;
    background-color: #2C67F6;
}

.site-navigation-secondary a {
    color: #fff;
}

.site-navigation-secondary .current_page_item .nav-link {
    color: #aaaaaa;
}

.site-info-powered-by,
.site-info-powered-by a {
    color: #fff;
    font-size: 0.75rem;
    font-weight: 500;
}

.site-pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.site-pagination-previous {
    align-self: flex-start;
}

.site-pagination-next {
    align-self: flex-end;
}

.comment {
    margin-top: 1rem;
}

.comment-author img {
    width: 32px;
}

.comment-metadata a time {
    font-size: 0.8rem;
}

.comment-content .alert p {
    margin-bottom: 0;
    font-style: italic;
}

.comment-content .alert {
    margin-bottom: 0;
}

.reply a {
    font-size: 0.8rem;
}

.comment-author img {
    display: block;
}

.fn a {
    font-weight: bold;
}

.no-comments {
    font-weight: 500;
    margin-top: 2rem;
}

/* Search section */
.search.accordion {
    --bs-accordion-border-color: #fff;
}

.search-header-button.accordion-button {
    padding: 0;
    color: #000;
}

.search-header-button.accordion-button:after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-1 -1 19 19' fill='currentColor' stroke='%23212529' stroke-linecap='square' stroke-linejoin='round'%3e%3cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0'/%3e%3c/svg%3e");
}

.search-header-button.accordion-button:not(.collapsed):after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor' stroke='%23212529' stroke-linecap='square' stroke-linejoin='round'%3e%3cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708'/%3e%3c/svg%3e");
}

.search-header-button.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #fff;
}

.search-header-button.accordion-button.alert-light:not(.collapsed) {
    background-color: #fcfcfd;
}

.search-body.accordion-body {
    padding-left: 0;
    padding-right: 0;
}

/**
 * Desktop
 */

@media (min-width: 576px) {
    /* Site */
    .site {
        margin-bottom: 40px;
    }

    .site-container-row {
        padding: 20px;
        padding-bottom: 15px;
        margin-top: 30px;
        border-radius: 10px;
        box-shadow: rgba(3, 27, 78, 0.25) 0px 0px 20px;
    }
}

@media (min-width: 768px) {
    .site-container-row {
        margin-top: 40px;
    }
}

@media (min-width: 1200px) {
    .site-title a,
    .site-content-title {
        font-size: 2.5rem;
    }

    h2.site-content-title a {
        font-size: 2rem;
    }
}
